<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!--  CUSTOMER FORM GROUP  -->
                <div formGroupName="customer" class="form-area">
                    <h3>Detaylar</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Ad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                
                                <div *ngIf="firstName?.valid || firstName?.touched" class="alert alert-danger mt-1">

                                    



                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Soyad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>

                    </div>
                </div>

                <!--  SHIPPING ADDRESS FORM GROUP  -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Kargo Adresi</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Ülke</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select (change)="getStates('shippingAddress')" formControlName="country" >
                                    <option *ngFor="let country of countries" [ngValue]="country" >
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Şehir</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates"  [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Cadde</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Kodu</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Masa Nsfarası</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="tableNumber" type="number" max="100" maxlength="3">
                            </div>
                        </div>

                    </div>

                </div>

                <!-- ADD CHECK BOX TO COPY SHIPPING TO  -->
                <div class="input-space my-5">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"> </span>Kargo adresim ile fatura adresim aynı olsun.
                    </label>
                </div>


                <!-- BILLING ADDRESS -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Fatura Adresi</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Ülke</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select (change)="getStates('billingAddress')" formControlName="country" >
                                    <option *ngFor="let country of countries" [ngValue]="country" >
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Şehir</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates"  [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Cadde</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Kodu</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Masa Numarası</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="tableNumber" type="number" max="100" maxlength="3">
                            </div>
                        </div>

                    </div>

                </div>


                <!-- CREDIT CARD -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Kredi Kart Bilgileri</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Kart Tipi</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option value="">Visa</option>
                                    <option value="">Mastercard</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Kartın üzerindeki isim</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Kart Numarası</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>CVV</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Geçerlilik Tarihi(AY)</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select  formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>

                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Geçerlilik Tarihi(YIL)</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select (change)="handleMonthsAndYears()" formControlName="expirationYear">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>

                                </select>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- ORDER DETAILS -->

                <div class="form-area">
                    <h3>Sipariş Özeti</h3>
                    <p>Ürün Adedi: {{ totalQuantity }}</p>
                    <p>Toplam Fiyat: {{ totalPrice | currency:'TRY'}}</p>
                </div>


                <!--  SUBMIT BUTTON  -->

                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-sm">Sipariş Ver</button>
                </div>


            </form>
        </div>
    </div>
</div>
