<div class="detail-section">
    <div class="container-fluid">

        <img src="{{ product.imageUrl }}" class="detail-img " style="height: 450px;">

        <h3>{{ product.name }}</h3>
        <h5>{{ product.unitPrice | currency:'TRY'}}</h5>
        <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Sepete ekle</button>


        <hr>
        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Ürünlere geri dön</a>

    </div>
</div>